<div class="card">
  <h2>Student List</h2>

  <ng-container *ngIf="students().length; else emptyList">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students(); index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #emptyList>
    <p>No students have been added yet. Go to Add Student to create one.</p>
  </ng-template>
</div>
