body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 350px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

li {
    text-align: left;
}