body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
}

button:hover {
    background-color: darkgreen;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
